@import "tailwindcss";

:root {
  --bgThemeColor: #fff;
  --textBlackColor: #181818;
  --textLightColor: #777777;
  --iconColor: #fea405;
  --foodbgColor: #eeeeee;
}

body {
  font-family: Poppines;
}

.input-bg {
  background-color: #1d1c1c;
}

.bg-theme {
  background-color: var(--bgThemeColor);
}

.text-gray {
  color: var(--textLightColor);
}
.bg-text-gray {
  background-color: var(--textLightColor);
}

.text-black {
  color: var(--textBlackColor);
}

.icon-color {
  color: var(--iconColor);
}

.food-bg {
  background-color: var(--foodbgColor);
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}

.menu-img {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
   url("./../../public/images/menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: rgba(#000, #fff, 0.2);
}
.menu-bg {
  background-color: #222831;
}

.glassy-bg {
background: rgba(255, 255, 255, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 1);
}

@media (max-width: 640px) {
  .swiper-slide img {
    height: 192px;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .swiper-slide img {
    height: 256px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .swiper-slide img {
    height: 320px;
  }
}

@media (min-width: 1024px) {
  .swiper-slide img {
    height: 384px;
  }
}
