@import "tailwindcss";

:root {
  --bgThemeColor: #fff;
  --textBlackColor: #181818;
  --textLightColor: #777777;
}

body {
  font-family: Poppines;
}

.input-bg {
  background-color: #1d1c1c;
}

.bg-theme {
  background-color: var(--bgThemeColor);
}

.text-gray {
  color: var(--textLightColor);
}
.bg-text-gray {
  background-color: var(--textLightColor);
}

.text-black {
  color: var(--textBlackColor);
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 640px) {
  .swiper-slide img {
    height: 192px;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .swiper-slide img {
    height: 256px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .swiper-slide img {
    height: 320px;
  }
}

@media (min-width: 1024px) {
  .swiper-slide img {
    height: 384px;
  }
}
